.login-section {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  width: 600px;
  background-size: cover;
  height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
